<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="text-align: center;">FILL THE FORM</h1>
    <fieldset style="padding: 10px;width: 500px;margin: 10px auto;border: 2px solid black;">
        <legend>Enter Details</legend>
        <di>
            <form action="/products" method="POST">
                <input type="text" name="name" placeholder="Enter Name"><br><br>
                <input type="number" name="price" placeholder="Enter Price"><br><br>
                <textarea name="desc" cols="30" rows="10"></textarea><br><br>
                <button>Submit</button>
            </form>
        </di>
    </fieldset>
</body>

</html>